<!--
  ~ * Copyright © 2016 Magestore. All rights reserved.
  ~ * See COPYING.txt for license details.
  ~
  -->

<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <colgroup>
                    <col width="">
                    <col width="150">
                    <col width="">
                    <col width="">
                    <col width="95">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                </colgroup>
                <thead>
                    <tr>
                        <th data-bind="text: $t('Product')"/>
                        <th data-bind="text: $t('Serial Number')"/>
                        <th data-bind="text: $t('Original Price')"/>
                        <th data-bind="text: $t('Price')"/>
                        <th data-bind="text: $t('Qty')"/>
                        <th data-bind="text: $t('Subtotal')"/>
                        <th data-bind="text: $t('Tax Amount')"/>
                        <th data-bind="text: $t('Discount Amount')"/>
                        <th data-bind="text: $t('Row Total')"/>
                    </tr>
                </thead>
                <tbody data-bind="foreach: {data: $parent.orderData().items, as: 'item'}">
                    <!-- ko ifnot: item.parent_item_id -->
                    <tr>
                        <td>
                            <h4 class="product-name" data-bind="html: item.name"></h4>
                            <label class="product-sku" data-bind="text: $t('SKU')"></label>:
                            <span class="product-sku" data-bind="html: item.sku"></span>
                            <!--<img src="" />-->
                        </td>
                        <td class="order-id" data-bind="">
                            <div data-bind="foreach: $parents[1].getSerialString(item.serial_string)">
                                <div><span data-bind="text: sn"></span></div>
                            </div>
                        </td> <!-- Abel edit: show serial number -->
                        <td class="price" data-bind="text: $parents[1].convertAndFormatPrice(item.base_original_price)"/>
                        <td class="price" data-bind="text: $parents[1].getItemPriceFormated(item)"/>
                        <td class="order-id">
                            <label data-bind="text: $t('Ordered: ') + item.qty_ordered"></label></br>
                            <!-- ko if: item.qty_invoiced > 0 -->
                            <label data-bind="text: $t('Invoiced: ') + item.qty_invoiced"></label></br>
                            <!-- /ko -->
                            <!-- ko if: item.qty_shipped > 0 -->
                            <label data-bind="text: $t('Shipped: ') + item.qty_shipped"></label></br>
                            <!-- /ko -->
                            <!-- ko if: item.qty_refunded > 0 -->
                            <label data-bind="text: $t('Refunded: ') + item.qty_refunded"></label></br>
                            <!-- /ko -->
                            <!-- ko if: item.qty_canceled > 0 -->
                            <label data-bind="text: $t('Canceled: ') + item.qty_canceled"></label></br>
                            <!-- /ko -->
                        </td>
                        <td class="price" data-bind="text: $parents[1].convertAndFormatPrice(item.base_row_total)"/>
                        <td class="price" data-bind="text: $parents[1].convertAndFormatPrice(item.base_tax_amount)"/>
                        <td class="price" data-bind="text: $parents[1].convertAndFormatPrice(
                            item.base_discount_amount?item.base_discount_amount:0)"/>
                        <td class="price" data-bind="text: $parents[1].getItemRowTotalFormated(item)"/>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
</div>