<?php
/**
 * Copyright © 2016 Magestore. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php $_item = $block->getItem() ?>
<?php
// Abel edit: get order Item
$itemOrder = \Magento\Framework\App\ObjectManager::getInstance()
    ->get('Magento\Sales\Model\Order\ItemFactory')->create()->load($_item['order_item_id']);
?>
<tr>
    <td class="col-product"><?php echo $block->getColumnHtml($_item, 'name') ?></td>
    <td class="col-ordered-qty"><?php echo $block->getColumnHtml($_item, 'qty') ?></td>
    <td class="col-qty-in-warehouse" id="qty_in_warehouse[<?php echo $_item->getOrderItemId() ?>]"></td>
    <td class="col-qty">
        <?php if ($block->canShipPartiallyItem()): ?>
            <!-- Abel edit: input hidden save qty of item -->
            <input type="hidden"
                   class="input-text admin__control-text number-of-qty-to-ship-input"
                   name="shipment[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]"
                   id="shipment[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]"
                   value="<?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?>" />
            <!-- Abel edit: begin -->
            <!-- add multi select for show all serial string -->
            <select name="shipment[itemsserial][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>][]"
                    id="shipment[itemsserial][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]"
                    class="input-text admin__control-text qty-item qty-to-ship-input"
                    size="3" multiple="multiple" style="width: 100px;">
                <?php
                foreach (explode(',', $itemOrder->getSerialString()) as $sn) {
                    if($sn != '' && $sn != null
                        && strpos($itemOrder->getData('serial_shipping'), $sn) === false
                        && strpos($itemOrder->getData('serial_refund'), $sn) === false) {
                ?>
                        <option value="<?php echo $sn; ?>"><?php echo $sn; ?></option>
                <?php
                    }
                }
                ?>
            </select>
            <!-- Abel edit: end -->
        <?php else: ?>
            <?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?>
        <?php endif; ?>
    </td>
    <td class="col-qty-pending-ship <?php if ($block->isShipmentRegular()): ?>last<?php endif; ?>" id="qty_pending_ship[<?php echo $_item->getOrderItemId()?>]"></td>
    <?php if (!$block->canShipPartiallyItem()): ?>
    <td class="col-ship last">
        <!-- Abel edit: begin -->
        <!-- add multi select for show all serial string -->
        <select name="shipment[itemsserial][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>][]"
                id="shipment[itemsserial][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]"
                class="input-text admin__control-text qty-item qty-to-ship-input"
                size="3" multiple="multiple" style="width: 100px;display: none;">
            <?php
            foreach (explode(',', $itemOrder->getSerialString()) as $sn) {
                if($sn != '' && $sn != null
                    && strpos($itemOrder->getData('serial_shipping'), $sn) === false
                    && strpos($itemOrder->getData('serial_refund'), $sn) === false) {
                    ?>
                    <option value="<?php echo $sn; ?>" selected="selected"><?php echo $sn; ?></option>
                    <?php
                }
            }
            ?>
        </select>
        <!-- Abel edit: end -->
        <input type="hidden" name="shipment[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]" value="0" />
        <input type="checkbox" name="shipment[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]" value="<?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?>" checked />
    </td>
    <?php endif; ?>
</tr>
