<!--
  ~ * Copyright © 2016 Magestore. All rights reserved.
  ~ * See COPYING.txt for license details.
  ~
  -->

<!-- ko if: orderData -->
<div id="refund-popup" role="dialog"
     data-bind="visible: isVisible, style: {display: stypeDisplay()},
     attr:{class: 'modal fade add-comment ship-refund ' + classIn()}">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form data-bind="attr:{id: formId},submit: submit">
                <div class="popup-header">
                    <button type="button" class="close" data-dismiss="modal" data-bind="text: $t('Cancel'), click: display(false)"></button>
                    <h4 class="modal-title" data-bind="text: $t('Refund')"/>
                    <button type="submit" class="btn-save" data-bind="text: $t('Refund Offline'), click: submit"/>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <colgroup>
                            <col width="30%">
                            <col width="20%">
                            <col width="10%"> <!-- Abel edit -->
                            <col width="10%">
                            <col width="15%">
                            <!--<col width="15%">-->
                            <col width="15%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th data-bind="text: $t('Product')"></th>
                            <th class="a-center" data-bind="text: $t('Sku')"></th>
                            <th class="a-center" data-bind="text: $t('Serial number')"></th> <!-- Abel edit -->
                            <th class="a-right" data-bind="text: $t('Price')"></th>
                            <th class="a-center" data-bind="text: $t('Qty')"></th>
                            <!--<th class="a-center" data-bind="text: $t('Qty to refund')"></th>-->
                            <th class="a-center" data-bind="text: $t('Return to stock')"></th>
                        </tr>
                        </thead>
                    </table>
                    <div class="wrap-table">
                    <table class="table">
                        <colgroup>
                            <col width="30%">
                            <col width="20%">
                            <col width="10%"> <!-- Abel edit -->
                            <col width="10%">
                            <col width="15%">
                            <!--<col width="15%">-->
                            <col width="15%">
                        </colgroup>
                        <tbody data-bind="foreach: {data: orderData().items, as: 'item'}">
                            <!-- ko ifnot: item.parent_item_id -->
                            <!-- ko if: item.qty_invoiced - item.qty_refunded > 0-->
                            <tr>
                                <td>
                                    <h4 class="product-name" data-bind="text: item.name"></h4>
                                </td>
                                <td class="a-center" data-bind="text: item.sku"></td>
                                <!-- Abel edit: begin -->
                                <td class="a-right" data-bind="">
                                    <select class="list-serial-number" data-bind="attr: {name: 'items['+item.item_id+'][serial_string]'}, options: $parent.listSerialNumber(item)" size="3" multiple="true"></select>
                                </td>
                                <!-- Abel edit: end -->
                                <td class="a-right" data-bind="text: $parent.convertAndFormatPrice(item.base_price_incl_tax)"></td>
                                <td class="a-center" data-bind="text: item.qty_invoiced - item.qty_refunded"></td>
                                <!--<td class="a-center">-->
                                    <!--<input type="text" class="input-qty refund-input-qty"-->
                                           <!--data-bind="attr: {value: item.qty_invoiced - item.qty_refunded,-->
                                           <!--name: 'items['+item.item_id+'][qty]', itemid:item.item_id}, event: {keyup: $parent.validateQty.bind($parent)}"/>-->
                                <!--</td>-->
                                <td class="a-center">
                                    <input type="checkbox" value="1" data-bind="attr: {name: 'items['+item.item_id+'][back_to_stock]'}"/>
                                </td>
                            </tr>
                            <!-- /ko -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                    </div>
                    <div class="bottom-refund">
                        <div class="col-sm-7">
                            <label data-bind="text: $t('Refund Comment')"></label>
                            <textarea class="form-control" rows="3" data-bind="attr:{name: 'comment_text'}"></textarea>
                        </div>
                        <div class="col-sm-5">
                            <div class="refund-bottom-right">
                                <div class="input-box">
                                    <label data-bind="text: $t('Adjust refund')"></label>
                                    <input type="text" data-bind="attr: {name: 'adjustment_positive'}"/>
                                </div>
                                <!-- ko if: shippingRefunded -->
                                <div class="input-box">
                                    <label data-bind="text: $t('Refund Shipping')"></label>
                                    <input type="text" data-bind="attr: {name: 'shipping_amount'}, value: shippingRefunded"/>
                                </div>
                                <!-- /ko -->
                                <div class="input-box">
                                    <label data-bind="text: $t('Adjust fee')"></label>
                                    <input type="text" data-bind="attr: {name: 'adjustment_negative'}"/>
                                </div>
                                <!-- ko if: canRefundByStorecredit -->
                                <div class="input-box">
                                    <label data-bind="text: $t('Store Credit')"></label>
                                    <input type="text" onfocus="this.select()" data-bind="value:creditAmount, event:{change:saveCreditAmount}" />
                                </div>
                                <!-- /ko -->
                                <!-- ko if: canRefundGiftcard -->
                                <div class="input-box">
                                    <label data-bind="text: $t('Refund to gift voucher code used')"></label>
                                    <input type="text" onfocus="this.select()" data-bind="value:giftcardAmount, event:{change:saveGiftcardAmount}" />
                                </div>
                                <!-- /ko -->
                                <!--<div class="input-box">-->
                                    <!--<label data-bind="text: $t('Reward Points')"></label>-->
                                    <!--<input type="text" />-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="input-box">
                            <input type="checkbox" id="send_email_creditmemo_popup" value="1" name="send_email">
                            <label for="send_email_creditmemo_popup" data-bind="text: $t('Send Email')"></label>
                        </div>
                        <button class="button submit-refund btn-cl-cfg-active" data-bind="text: $t('Submit refund'), click: submit" ></button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
<!-- /ko -->