<!--
  ~ * Copyright © 2016 Magestore. All rights reserved.
  ~ * See COPYING.txt for license details.
  ~
  -->

<!-- ko if: orderData -->
<div id="shipment-popup" role="dialog"
     data-bind="visible: isVisible, style: {display: stypeDisplay()},
     attr:{class: 'modal fade add-comment ship-refund ' + classIn()}">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form data-bind="attr: {id: formId}, submit: submit">
                <div class="popup-header">
                    <button type="button" class="close" data-dismiss="modal" data-bind="text: $t('Cancel'), click: display(false)"/>
                    <h4 class="modal-title" data-bind="text: $t('Shipment')"/>
                    <button type="submit" class="btn-save"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <colgroup>
                            <col width="">
                            <col width="">
                            <col width="100">
                            <col width="150">
                            <col width="150">
                        </colgroup>
                        <thead>
                        <tr>
                            <th data-bind="text: $t('Product')"/>
                            <th class="a-center" data-bind="text: $t('Sku')"/>
                            <th class="a-right" data-bind="text: $t('Price')" width="120"/>
                            <th class="a-center" data-bind="text: $t('Qty')"/>
                            <th class="a-center" data-bind="text: $t('Serial number')"/>
                        </tr>
                        </thead>
                    </table>
                    <div class="wrap-table">
                    <table class="table">
                        <colgroup>
                            <col width="">
                            <col width="">
                            <col width="100">
                            <col width="150">
                            <col width="150">
                        </colgroup>
                        <tbody data-bind="foreach: {data: orderData().items, as: 'item'}">
                            <!-- ko ifnot: item.parent_item_id -->
                            <!-- ko if: item.is_virtual == 0 -->
                            <!-- ko if: parseFloat(item.qty_ordered) - parseFloat(item.qty_shipped) - parseFloat(item.qty_refunded) - parseFloat(item.qty_canceled) > 0-->
                            <tr>
                                <td>
                                    <h4 class="product-name" data-bind="text: item.name"/>
                                </td>
                                <td class="a-center" data-bind="text: item.sku"/>
                                <td class="a-right" data-bind="text: $parent.convertAndFormatPrice(item.base_price)"></td>
                                <td class="a-center" data-bind="text: item.qty_ordered - item.qty_shipped - item.qty_refunded - item.qty_canceled"/>
                                <td class="a-center">
                                    <!--<input type="text" class="input-qty required-entry"-->
                                           <!--data-bind="value: item.qty_ordered - item.qty_shipped - item.qty_refunded - item.qty_canceled,-->
                                           <!--attr: {name: 'items['+item.item_id+']'}, event: {keyup: $parent.validateQty.bind($parent)}"/>-->
                                    <select class="list-serial-number" data-bind="attr: {name: 'items['+item.item_id+']'}, options: $parent.listSerialNumber(item)" size="3" multiple="true"></select>
                                </td>
                            </tr>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                    </div>
                    <div class="bottom-refund">
                        <div class="col-sm-7">
                            <label data-bind="text: $t('Shipment Comment')"></label>
                            <textarea class="form-control" rows="3" name="comment_text"/>
                        </div>
                        <div class="col-sm-5">
                            <div class="refund-bottom-right">
                                <div class="input-box">
                                    <label data-bind="text: $t('Track number')"></label>
                                    <input type="text" data-bind="attr: {name: 'tracking[1][number]'}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="input-box">
                            <input type="checkbox" id="send_email_ship_popup" value="1" name="send_email">
                            <label for="send_email_ship_popup" data-bind="text: $t('Send Email')"/>
                        </div>
                        <button class="button submit-refund btn-cl-cfg-active" data-bind="text: $t('Submit Shipment'), click: submit"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /ko -->