<!--
  ~ * Copyright © 2016 Magestore. All rights reserved.
  ~ * See COPYING.txt for license details.
  ~
  -->

<!-- ko ifnot: orderData -->
<div class="col-sm-8 col-left">
    <header class="o-header">
        <nav class="o-header-nav">
            <span></span>
            <label class="title" data-bind="text: $t('Order Details')"></label>
            <span></span>
        </nav>
    </header>
    <main class="main-content main-content-no-order">
        <div class="pos-machine icon-info"></div>
        <div class="text-note">
            <span class="icon-iconPOS-empty-order"></span>
            <h4 class="title-box" data-bind="text: $t('You don\'t have any orders yet')"></h4>
        </div>
    </main>
</div>
<!--/ko-->
<!-- ko if: orderData -->
<div class="col-sm-8 col-left" id="webpos_order_view_container">
    <header class="o-header">
        <!-- ko template: {name: templateTop, data: $parent} -->
        <!-- /ko -->
    </header>

    <main class="main-content">
        <div class="panel-group order-info">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 data-bind="text: $t('Billing Address')"/>
                        </div>
                        <!-- ko template: {name: templateBilling, data: $parent} -->
                        <!-- /ko -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 data-bind="text: $t('Shipping Address')"/>
                        </div>
                        <!-- ko template: {name: templateShipping, data: $parent} -->
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- ko template: {name: templatePaymentMethod, data: $parent} -->
                <!-- /ko -->
                <!-- ko template: {name: templateShippingMethod, data: $parent} -->
                <!-- /ko -->
            </div>
            <div class="row">
                <!-- ko template: {name: templateItems, data: $parent} -->
                <!-- /ko -->
            </div>
            <!-- ko template: {name: templateComments, data: $parent} -->
            <!-- /ko -->
        </div>
    </main>
    <footer class="footer-order">
        <!-- ko template: {name: templateTotal, data: $parent} -->
        <!-- /ko -->
        <!-- ko if: orderData -->
        <div class="">
            <div class="action-button">
                <button class="button print btn-cl-cfg-other" data-bind="text: $t('Print'), click: printOrder"/>
                <!-- ko if: showInvoiceButton -->
                <button class="button invoice btn-cl-cfg-active" data-toggle="modal"
                        data-bind="text: $t('Invoice'), click: showPopup.bind($data, 'invoice')"/>
                <!--/ko-->
                <!-- ko if: canSync -->
                <button class="button invoice btn-cl-cfg-active" data-bind="text: $t('Sync'), click: syncOrder"/>
                <!--/ko-->
            </div>
        </div>
        <!-- /ko -->
    </footer>
</div>
<!-- /ko -->
<!-- ko if: orderData -->
<div data-bind="visible: isShowActionPopup" id="form-add-note-order">
    <ul>
        <!-- ko if: !isCanceled() && orderData().status != 'notsync' -->
        <li>
            <a href="#" data-toggle="modal"
               class="order-note" data-bind="text: $t('Send Email'), click: showPopup.bind($data, 'sendemail')"/>
        </li>
        <!--/ko-->
        <!-- ko if: canShip() && orderData().status != 'notsync' -->
        <li>
            <a href="#" data-toggle="modal"
               class="order-note" data-bind="text: $t('Ship'), click: showPopup.bind($data, 'shipment')"/>
        </li>
        <!--/ko-->
        <!-- ko if: canCancel() && orderData().status != 'notsync' -->
        <li>
            <a href="#" class="order-note" data-bind="text: $t('Cancel'), click: showPopup.bind($data, 'cancel')"/>
        </li>
        <!--/ko-->
        <!-- ko if:  orderData().status != 'notsync' -->
        <li>
            <a href="#" data-toggle="modal"
               class="order-note" data-bind="text: $t('Add Comment'), click: showPopup.bind($data, 'comment')"/>
        </li>
        <!--/ko-->
        <li>
            <!--<a href="#" class="order-note" data-bind="text: $t('Re-order'),click: reOrder"/>-->
        </li>
        <!-- ko if: canCreditmemo() && orderData().status != 'notsync'  -->
        <li class="last">
            <a href="#" data-toggle="modal"
               class="order-note" data-bind="text: $t('Refund'), click: showPopup.bind($data, 'refund')"/>
        </li>
        <!--/ko-->
        <!-- ko if: canUnhold -->
        <!--<li class="last">-->
            <!--<a href="#" data-toggle="modal"-->
               <!--class="order-note" data-bind="text: $t('Unhold'), click: showPopup.bind($data, 'refund')"/>-->
        <!--</li>-->
        <!--/ko-->
    </ul>
</div>
<!--/ko-->
<!-- ko foreach: getRegion('order-payment') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

