
    <!--
  ~ * Copyright © 2016 Magestore. All rights reserved.
  ~ * See COPYING.txt for license details.
  ~
  -->

<h2 class="title-box"><span data-bind="i18n:'Activities'"/></h2>
    <table class="table table-activities">
        <tbody>
        <tr>
            <td colspan="3" class="banlance-first">
                <label class="balance-float"><span data-bind="i18n:'Balance'"/>: </label>
                <span class="price"><span data-bind="text: formatPrice(shiftData().balance)" /></span>
            </td>
        </tr>
        <tr>
            <td><span data-bind="i18n:'Open Shift'"/></td>
            <td>
                <h3 class="staff-name"><span data-bind="text: staffName" /></h3>
                <label class="date-time"><span data-bind="text: getFullDatetime(shiftData().opened_at)" /></label>
            </td>
            <td>
                <label class="balance-float"><span data-bind="i18n:'Float'"/> </label>
                <span class="price"><span data-bind="text: formatPrice(shiftData().float_amount)" /></span>
            </td>
        </tr>

        <!-- ko foreach: items -->
        <tr>
            <td><span data-bind="text: $parent.getTransactionSymbol(type, value)"/> <span  data-bind="text: $parent.formatPrice(value)"/></td>
            <td>
                <h3 class="staff-name"><span  data-bind="text: $parent.staffName"/></h3>
                <label class="date-time"><span data-bind="text: $parent.getFullDatetime(created_at)"/></label><br/>
                <label class="date-time"><span data-bind="text: note"/></label>
            </td>
            <td>
                <label class="balance-float"><span data-bind="i18n:'Balance'"/></label>
                <span class="price"><span data-bind="text: $parent.formatPrice(balance)"/></span>
            </td>
        </tr>
        <!-- /ko -->
        </tbody>
    </table>
