<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_item = $block->getItem() ?>
<tr class="border">
    <td class="col-product"><?php echo $block->getColumnHtml($_item, 'name') ?></td>
    <td class="col-serial">
        <?php $serialNumber = $_item->getData('serial_string'); ?>
        <?php
        if($serialNumber != null) {
            foreach (explode(',', $serialNumber) as $sn) {
                if($sn != null) {
                    ?>
                    <div><span><?php echo $sn; ?></span></div>
                    <?php
                }
            }
        }
        ?>
    </td>
    <td class="col-qty last"><?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?></td>
</tr>
