<?php
/**
 * Copyright © 2016 Magestore. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magestore\FulfilSuccess\Block\Adminhtml\PackRequest\PackRequestDetail $block */
?>
<form id="pack_request_form" method="post" action="<?php /* @escapeNotVerified */ echo $block->getSaveUrl() ?>">
    <?php echo $block->getLayout()->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $block->getBlockHtml('formkey') ?>
    <input type="hidden" id="pack_request_id" name="pack_request_id" value="<?php echo $block->getPackRequestId(); ?>"/>
    <input type="hidden" id="warehouse_id" name="shipment[warehouse]" value="<?php echo $block->getWarehouseId(); ?>"/>
    <section class="admin__page-section">
        <div class="admin__page-section-content">
            <div style="width: 35%; float: left; margin-right:2%;">
                <?php echo $block->getChildHtml('request_order'); ?>
            </div>
            <div style="width: 35%; float: left; margin-right:2%;">
                <?php echo $block->getChildHtml('request_account'); ?>
            </div>            
            <div style="width: 25%; float: left;">
                <?php echo $block->getChildHtml('request_shipping_address'); ?>
            </div>
        </div>
    </section>    
    <section class="admin__page-section">
        <!--
        <div class="admin__page-section-title">
            <span class="title"><?php /* @escapeNotVerified */
        echo __('Items Picked')
        ?></span>
        </div>
        -->
        <?php echo $block->getBeforeItemsHtml() ?>
        <?php echo $block->getItemsHtml() ?>
    </section>

    <section class="admin__page-section">
        <!--    <div class="admin__page-section-title">-->
        <!--        <span class="title">--><?php ///* @escapeNotVerified */ echo __('Sales Total')  ?><!--</span>-->
        <!--    </div>-->
        <div class="admin__page-section-content">
            <div class="admin__page-section-item pack-comments-history">
                <div class="admin__page-section-item-title">
                    <span class="title"><?php /* @escapeNotVerified */
                        echo __('Notes for this Sales')
                        ?></span>
                </div>
                <?php echo $block->getChildHtml('order_history') ?>

            </div>
            <div class="admin__page-section-item pack-shipping-address">
                <div><?php echo $block->getChildHtml('shipping_info') ?></div>
                <?php if (!$block->canCreateShippingLabel()): ?>
                    <?php echo $block->getChildHtml('shipment_tracking') ?>
                <?php endif ?>
            </div>
            <div class="admin__page-section-item pack-button">
                <?php if ($block->canCreateShippingLabel() && !$block->isPackedRequest()): ?>
                    <input id="create_shipping_label" type="hidden" name="shipment[create_shipping_label]" value="1" />
                <?php endif ?>

                <?php echo $block->getButtonsHtml('bottom_right'); ?>
            </div>
        </div>
    </section>

    <?php echo $block->getChildHtml('packed_packages') ?>
    <?php echo $block->getChildHtml('fulfil_packaging'); ?>
    <?php echo $block->getChildHtml('packrequest_js'); ?>
</form>
<script>
    require([
        "jquery",
        "mage/mage",
        "prototype"
    ], function (jQuery) {
        jQuery('#edit_form').mage('form').mage('validation');

        $$('.qty-to-ship-input').each(function(item) {
            var itemId = item.id;
            itemId = itemId.replace("shipment[items][", "");
            itemId = itemId.replace("]", "");
            var qtyToShip = parseFloat(item.value);
            if (isNaN(qtyToShip)) {
                qtyToShip = 0;
            }
            Event.observe(item, 'change', changeQtyToShip);
        });

        /**
         * Change qty-to-ship
         */
        function changeQtyToShip(event) {
            var qtyToShipEl = $(event.target.id);
            if ((parseFloat(qtyToShipEl.value) < parseFloat(qtyToShipEl.min)) || qtyToShipEl.value == '') {
                qtyToShipEl.value = qtyToShipEl.min;
            }
            if (parseFloat(qtyToShipEl.value) > parseFloat(qtyToShipEl.max)) {
                qtyToShipEl.value = qtyToShipEl.max;
            }
        }

        jQuery(document).ready(function () {
            jQuery(window).click(function (event) {
                if ((event.keyCode == 13)) {
                    event.preventDefault();
                    return false;
                }
            });

            window.validQtyItems = function() {
                var valid = true;
                $$('.qty-item').each(function(item) {
                    var val = parseFloat(item.value);
                    if (isNaN(val) || val < 0) {
                        valid = false;
                    }
                });

                return valid;
            };

            window.isAllQtyZero = function () {
                var check = true;
                $$('.qty-item').each(function(item) {
                    var val = parseFloat(item.value);
                    if (val > 0) {
                        check = false;
                    }
                });

                return check;
            };

            window.submitShipment = function(btn) {
                if (isErrorBeforeShip()) {
                    return;
                }

                packaging.showWindow();
            };

            window.isErrorBeforeShip = function () {
                var errorMessage = jQuery("#pack-error-message");
                if (!validQtyItems()) {
                    $$('.qty-item').each(function(item) {
                        var val = parseFloat(item.value);
                        if (val < 0) {
                            item.addClassName('wrong-qty');
                        } else {
                            item.removeClassName('wrong-qty');
                        }
                    });
                    errorMessage.html('Invalid quantity!');
                    errorMessage.fadeIn('slow');
                    return true;
                } else if (isAllQtyZero()) {
                    $$('.qty-item').each(function(item) {
                        item.removeClassName('wrong-qty');
                    });
                    errorMessage.html('There is no product selected!');
                    errorMessage.fadeIn('slow');
                    return true;
                } else {
                    $$('.qty-item').each(function(item) {
                        item.removeClassName('wrong-qty');
                    });
                    errorMessage.fadeOut('slow');
                    return false;
                }
            };
        });
    });


    /**
     * create package
     */
    function submitAndReloadAreaPacking(area, url) {
        if (isErrorBeforeShip()) {
            return;
        }
        if($(area)) {
            var fields = $(area).select('input', 'select', 'textarea');
            var data = Form.serializeElements(fields, true);
            url = url + (url.match(new RegExp('\\?')) ? '&isAjax=true' : '?isAjax=true');
            new Ajax.Request(url, {
                parameters: $H(data),
                loaderArea: area,
                onSuccess: function(transport) {
                    try {
                        if (transport.responseText.isJSON()) {
                            var response = transport.responseText.evalJSON()
                            if (response.error) {
                                alert(response.message);
                            }
                            if(response.ajaxExpired && response.ajaxRedirect) {
                                setLocation(response.ajaxRedirect);
                            }
                        } else {
                            if (transport.responseText == 'completed') {
                                window.location.assign("<?php echo $block->getUrl('fulfilsuccess/packRequest/printShipment') ?>");
                                jQuery('#pack_request_detail_holder').modal('closeModal');
                                packaging.reloadPackRequestListing();
                                packaging.reloadRecentListing();
                                return;
                            }
                            window.location.assign("<?php echo $block->getUrl('fulfilsuccess/packRequest/printShipment') ?>");
                            $(area).update(transport.responseText);
                            packaging.reloadPackRequestListing();
                            packaging.reloadRecentListing();
                        }
                    } catch (e) {
                        $(area).update(transport.responseText);
                    }
                }
            });
        }
    }

    /**
     * move item to need to ship
     * @param url
     * @returns {boolean}
     */
    function moveNeedToShip(url) {
        var r = confirm("<?php echo __('Are you sure to move remaining items above back to Need-to-Ship?') ?>");
        if (r == true) {
            url = url + (url.match(new RegExp('\\?')) ? '&isAjax=true' : '?isAjax=true');
            new Ajax.Request(url, {
                onSuccess: function(transport) {
                    try {
                        jQuery('#pack_request_detail_holder').modal('closeModal');
                        packaging.reloadPackRequestListing();
                        packaging.reloadRecentListing();
                        return;
                    } catch (e) {

                    }
                }
            });
        } else {
            return false;
        }
    }
</script>
