<?php
/**
 * Copyright © 2016 Magestore. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Sales\Block\Adminhtml\Items\Renderer\DefaultRenderer */ ?>
<?php $_item = $block->getItem() ?>
<?php $block->setPriceDataObject($_item); ?>
<?php
// Abel edit: get order Item
$itemOrder = \Magento\Framework\App\ObjectManager::getInstance()
    ->get('Magento\Sales\Model\Order\ItemFactory')->create()->load($_item['order_item_id']);
?>
<tr>
    <td class="col-product"><?php echo $block->getColumnHtml($_item, 'name') ?></td>
    <td class="col-price">
        <?php echo $block->getColumnHtml($_item, 'price'); ?>
    </td>
    <td class="col-ordered-qty"><?php echo $block->getColumnHtml($_item, 'qty') ?></td>
    <?php if ($block->canParentReturnToStock($_item)) : ?>
        <td class="col-return-to-stock">
        <?php if ($block->canReturnItemToStock($_item)) : ?>
            <?php if(!$this->isAutoReturn()): ?>
            <input type="checkbox"
                   class="admin__control-checkbox return-stock-checkbox"
                   name="creditmemo[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>][back_to_stock]"
                   value="1"<?php if ($_item->getBackToStock()):?> checked<?php endif;?>/>
            <label class="admin__field-label"></label>
            <?php endif; ?>
            <!-- select warehouse to refund -->   
            <?php echo $block->getColumnHtml($_item, 'warehouse'); ?>
        <?php endif; ?>
        </td>
    <?php endif; ?>      
        
    <td class="col-refund col-qty">
    <?php if ($block->canEditQty()) : ?>
        <input type="hidden"
               class="input-text admin__control-text qty-input"
               name="creditmemo[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>][qty]"
               value="<?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?>"/>
        <!-- Abel edit: begin -->
        <!-- add multi select for show all serial string -->
        <select name="creditmemo[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>][itemsserial][]"
                id="creditmemo[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>][itemsserial]"
                class="input-text admin__control-text qty-item qty-to-refund-input"
                size="3" multiple="multiple" style="width: 100px;">
            <?php
            foreach (explode(',', $itemOrder->getSerialString()) as $sn) {
                if($sn != '' && $sn != null
                    && strpos($itemOrder->getData('serial_refund'), $sn) === false) {
                    ?>
                    <option value="<?php echo $sn; ?>" selected="selected"><?php echo $sn; ?></option>
                    <?php
                }
            }
            ?>
        </select>
        <!-- Abel edit: end -->
    <?php else : ?>
        <?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?>
        <!-- Abel edit: begin -->
        <!-- add multi select for show all serial string -->
        <select name="creditmemo[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>][itemsserial][]"
                id="creditmemo[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>][itemsserial]"
                class="input-text admin__control-text qty-item qty-to-refund-input"
                size="3" multiple="multiple" style="width: 100px;display: none;">
            <?php
            foreach (explode(',', $itemOrder->getSerialString()) as $sn) {
                if($sn != '' && $sn != null
                    && strpos($itemOrder->getData('serial_refund'), $sn) === false) {
                    ?>
                    <option value="<?php echo $sn; ?>" selected="selected"><?php echo $sn; ?></option>
                    <?php
                }
            }
            ?>
        </select>
        <!-- Abel edit: end -->
    <?php endif; ?>
    </td>
    <td class="col-subtotal">
        <?php echo $block->getColumnHtml($_item, 'subtotal'); ?>
    </td>
    <td class="col-tax-amount"><?php /* @escapeNotVerified */ echo $block->displayPriceAttribute('tax_amount') ?></td>
    <td class="col-discont"><?php /* @escapeNotVerified */ echo $block->displayPriceAttribute('discount_amount') ?></td>
    <td class="col-total last">
        <?php echo $block->getColumnHtml($_item, 'total'); ?>
    </td>
</tr>
