<?php
/** @var \Magestore\SerialSuccess\Block\Adminhtml\Product\Edit\Tab\Serial $block */
?>

<style>
    .import-product-form {
        background: #EEEEEE;
        display: inline-block;
        width: 60%;
    }

    #serial-container {
        border-collapse: collapse;
        width: 100%;

    }

    .serial-item > td:first-child {
        padding: 10px 10px 10px 15px;
    }

    .serial-item > td:first-child > * {
        width: 95%;
    }

</style>

<div id="add-serial-modal" class="import-product" data-modal-info="<?php /* @escapeNotVerified */
echo $block->getWidgetOptions(); ?>">
    <div class="import-product-form">
        <?php if ($block->getUseContainer()): ?>
        <form id="import-product-form" class="admin__fieldset" action="<?php /* @escapeNotVerified */
        echo $block->getUrl('serialsuccess/serials/save') . 'id/' . $block->getRequest()->getParam('id'); ?>"
              method="post" enctype="multipart/form-data">
            <?php endif; ?>
            <?php echo $block->getBlockHtml('formkey') ?>

            <table id="serial-container" class="data-table">
                <colgroup>
                    <col style="width: 85%">
                    <col style="width: 15%">
                </colgroup>
                <tbody>
                </tbody>
            </table>
            <button style="margin: 15px;" onclick="window.addSerial('')"><?php echo __('Add serial'); ?></button>
            <button style="margin: 15px;"
                    onclick="window.removeAllSerial()"><?php echo __('Remove all serials'); ?></button>
        </form>
    </div>
</div>
<script>
    //    jQuery('body').trigger('contentUpdated');
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        "mage/mage",
        "mage/validation",
        "loadingPopup",
        'uiRegistry',
        'Magento_Ui/js/modal/alert'
    ], function ($, modal, core, validator, popup, registry, alert) {
        window.serials = [];
        $('#add-serial-modal').modal(
            {
                type: 'slide',
                modalClass: 'form-inline',
                title: $.mage.__('Add serial'),
                buttons: [
                    {
                        text: $.mage.__('Cancel'),
                        attr: {},

                        /**
                         * Default action on button click
                         */
                        click: function (event) {
                            this.closeModal(event);
                        }
                    },
                    {
                        text: $.mage.__('Save'),
                        attr: {
                            'class': 'action-primary'
                        },

                        /**
                         * Default action on button click
                         */
                        click: function (event) {
                            var self = this;
                            var grid = 'os_product_serial_listing.os_product_serial_listing_data_source';
                            var target = registry.get(grid);

                            var form = $('#import-product-form');
                            if (form.validation() && form.validation('isValid')) {
                                $('.serial-input').each(function (i, e) {
                                    window.serials.push($(this).val());
                                });
                                $.post(
                                    '<?php echo $block->getUrl('serialsuccess/serials/save') ?>',
                                    {
                                        data: JSON.stringify(window.serials),
                                        id: <?php echo $block->getRequest()->getParam('id') ?>
                                    },
                                    function (e) {
                                        target.set('params.t ', Date.now());
                                        self.closeModal(event);
                                        window.serials = [];
                                        window.removeAllSerial();
                                        if (e != '') {
                                            return alert({
                                                title: $.mage.__('Error'),
                                                content: $.mage.__(e)
                                            });
                                        }
                                    }
                                );
                            }
                        }
                    }
                ]
            }
        );

        window.addSerial = function (content) {
            $('#serial-container').find('tbody')
                .append($('<tr>')
                    .attr('class', 'serial-item')
                    .append($('<td>')
                        .append($('<input>')
                            .attr('type', 'text')
                            .attr('name', 'serial')
                            .attr('class', 'serial-input')
                            .val(content)
                        )
                    )
                    .append($('<td>')
                        .attr('style', 'text-align: center')
                        .append($('<button>')
                            .html('<?php echo __('Delete'); ?>')
                            .attr('class', 'remove-serial-button')
                        )
                    )
                )
        };
        window.removeAllSerial = function () {
            $('#serial-container').find('tbody > tr').each(function () {
                $(this).remove();
            })
        };

        $('.remove-serial-button').live('click', function () {
            $(this).parent().parent().remove();
        });
    });


</script>