<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
use Magento\Framework\Json\Helper\Data;

/** @var \Magento\Payment\Block\Transparent\Iframe $block */
$params = $block->getParams();
?>
<html>
<head>
    <script>
        <?php if (isset($params['redirect'])): ?>
        window.location="<?php echo $block->escapeXssInUrl($params['redirect']); ?>";
        <?php else: ?>
        var parentWindow = window.opener;
        if(parentWindow && parentWindow.directPostModel){
            <?php if ((isset($params['success']) && $params['success'] == 1) || isset($params['order_success'])): ?>
            parentWindow.directPostModel.success();
            <?php endif; ?>
            <?php if (isset($params['error_msg'])): ?>
            parentWindow.directPostModel.error('<?php echo $params['error_msg'];?>');
            <?php endif; ?>
            window.close();
        }
        <?php endif; ?>
    </script>
</head>
<body></body>
</html>
